grant codeBase "file:/home/ec2-user/-" {
    permission java.security.AllPermission;
};

grant codeBase "http://ec2-3-84-145-255.compute-1.amazonaws.com/~ec2-user/ftp.jar/-" {
    permission java.security.AllPermission;
};
